/* .title__wrapper {
    min-height: 22px;
    padding-top: 70px;
    position: relative;
    margin-bottom: 89px;
} */

/* .title__wrapper::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: var(--text-color-black);
    top: 120px;
} */

.title {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: left;
    margin: 0;
    border-bottom: solid 1px var(--text-color-black);
    padding-bottom: 28px;
}

@media (min-width: 768px) {
    .title__wrapper {
        padding-top: 90px;
        margin-bottom: 90px;
    }

    .title {
        font-size: 22px;
        line-height: 27px;
    }
    .title__wrapper::after{
        top: 140px;
    }
}