p {
    margin: 0;
}

.student__section {
    width: 100%;
    min-height: 1198px;
    display: flex;
    flex-direction: column;
}

.student__section div {
    align-self: center;
    width: 91.25%;
}

.student__title__wrapper {
    min-height: 36px;
    margin-bottom: 20px;
    align-self: center;
}

.student__photo__wrapper {
    margin-bottom: 40px;

}

.student__title {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    letter-spacing: -0.04em;
}

.student__post__wrapper {
    min-height: 16px;
    margin-bottom: 20px;
}

.student__post {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0px;
}

.student__description__wrapper {
    min-height: 112px;
    margin-bottom: 40px;
}

.student__description {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0px;
}

.student__github__link__wrapper {
    margin-bottom: 70px;
    min-height: 17px;
}

.student__github__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
}

.student__portfolio__wrapper {
    min-height: 20px;
    margin-bottom: 40px;
}

.student__portfolio {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 0;
    color: #A0A0A0;
}

.portfolio__list {
    list-style: none;
    margin: 0;
    padding: 0;
    align-self: center;
    width: 89.06%;

}

.portfolio__list__item {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-align: left;
    width: 100%;
    min-height: 28px;
    margin-bottom: 40px;
    position: relative;
}

.portfolio__list__item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #E6E6E6;
    top: 39px;
    left: 0;
}

.portfolio__list__item:last-child::before {
    display: none;
}

.portfolio__list__item::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 28px;
    background-image: url('../../assets/img/arrow.svg');
    background-repeat: no-repeat;
    top: 10px;
    right: 0;
}

@media (min-width: 768px) {
    .student__section {
        min-height: 994px;
    }

    .student__title__wrapper {
        margin-bottom: 16px;
    }

    .student__title {
        font-size: 40px;
        line-height: 40px;
    }

    .student__post {
        font-size: 12px;
        line-height: 18px;
    }

    .student__description__wrapper {
        margin-bottom: 87px;
    }

    .student__description {
        font-size: 12px;
        line-height: 18px;
    }

    .stugent__grid__wrapper {
        display: grid;
        grid-template-columns: 47.39% 33.20%;
        gap: 59px;
    }

    .student__photo__wrapper {
        order: 1;
    }

    .student__github__link__wrapper {
        margin-bottom: 1px;
    }

    .student__description__wrapper {
        margin-bottom: 70px;
    }

    .student__github__link__wrapper {
        margin-bottom: 91px;
    }

    .student__portfolio {
        font-size: 18px;
    }

    .student__portfolio__wrapper {
        margin-bottom: 50px;
    }

    .portfolio__list__item {
        font-size: 28px;
        line-height: 50px;
    }

    .portfolio__list {
        margin-bottom: 50px;
    }

    .portfolio__list__item::before {
        top: 69px;
    }
}

@media (min-width: 1280px) {
    .student__title {
        font-size: 50px;
        line-height: 58px;
    }

    .student__title__wrapper {
        margin-bottom: 18px;
    }


    .student__post {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
    }

    .student__post__wrapper {
        margin-bottom: 26px;
    }

    .student__description {
        font-family: Inter;
        font-size: 14px;
        line-height: 22px;
    }

    .student__description__wrapper {
        margin-bottom: 99px;
    }

    .student__github__link__wrapper {
        margin-bottom: 101px;
    }
}

/* display: grid;
        
        grid-template-areas: "ST ST"
                              "SI SPH"
                              "GIT GIT" 
                              "SP SP"
                              "PL PL";
    }
 */
/* .student__section__title{
        grid-area: ST;
        grid-column-start: 1;
        grid-column-end: -1;   
    }

    .student__section div:first-child{
        width: 160%;
    }
    
    .student__section .student__title__wrapper,
    .student__section .student__post__wrapper,
    .student__section .student__description__wrapper {
        width: 364px;
        grid-area: SI;
    }

    .student__photo__wrapper{
        grid-area: SPH;
    }
    .student__github__link__wrapper{
        grid-area: GIT;
    }
    .student__portfolio__wrapper{
        grid-area: SP;

    }
    .portfolio__list{
        grid-area: PL;

    }

    .student__section .student__photo__wrapper,
    .student__photo {
        width: 255px;
        height: 307px;
    }
} */