:root {
    --main-color: #073042;
    --white: #ffffff;
    --logo-color-green: #2BE080;
    --button-blue: #3456F3;
    --text-color-black: #000000;
    --error-color: #FF3055;
    --background-text: #A0A0A0;
    --grey-background: #F9F9F9;
}


.header__main__color {
    background-color: var(--main-color);
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: end;
}

.user__header {
    background-color: var(--white);
    width: 100%;
}

.button__color_main {
    background-color: var(--main-color);
}


.header__authorized {
    height: 100%;
    background-color: var(--white);
}



@media (min-width: 768px) {
    .header {
        min-width: 768px;
    }
}

@media (min-width: 1280px) {

    .user__header,
    .header__main__color {
        flex-direction: row;
    }
}